<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>DashBord</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta charset="UTF-8" />
    <!--<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.1.4/Chart.min.js"></script> -->

    <script src="/js/moment.js"></script>
    <script src="/js/Chart.js"></script>
    <!-- <script th:src="@{/webjars/Chartjs/2.7.2/lib/Chart.min.js}"></script> -->
    <script src="/js/dashbord.js" th:src="@{/js/dashbord.js}"></script>
</head>
<body>
<p>Hello, DashBord</p>
<canvas id="stage"  width="400" height="400"></canvas>
</body>
</html>